@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-tag{
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: #ccc;

}
.head-items {
    display: flex;  
    padding: 0.6rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.nav-tag .logo-part img{
    height: 5rem;
    padding: 0.1rem;   
    cursor: pointer;
    transition: all 0.4s;
}
.nav-tag .logo-part img:hover{
    filter: drop-shadow(12px 12px 7px rgba(255, 0, 0, 0.9));
    
}
.head-items ul{
    list-style: none;
    display: flex;
    gap: 1.3rem;
}
.head-items ul li a{
    font-size: 1.3rem;
    padding: 0.4rem;
    transition: all 0.5s;
    cursor: pointer;
    color: black;
    text-decoration: none;          
    position: relative;
}
.head-items ul li a:hover{
    color: rgb(0, 0, 255);
    text-shadow: 
    0 0 3px #fff,
    0 0 5px rgb(61, 61, 255);
}
.head-items ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: black;
    display: block;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: width 0.4s;
}
.head-items ul li a:hover::after{
    width: 100%;
    opacity: 1;
}
.head-items ul li a:active{
    color: rgb(0, 0, 255);
}