*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    background-color: rgba(63, 63, 63, 0.919);
}
/* Added properties with tailwind css */
.logos{
    background-color: rgb(108, 187, 255);
}
