*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.footer{
    background-color: rgba(63, 63, 63, 0.919);
    width: 100%;
}
/* Added properties with tailwind css */
.logos{
    background-color: rgb(108, 187, 255);
    /* width: 98vw; */
}
.line{
    /* margin-left: -5px; */
    width: 100%;
}

@media only screen and (min-width: 0) and (max-width: 650px){
        .Fcontent{
            font-size:12px ;
        }
    
}
@media only screen and (min-width: 0) and (max-width: 730px){
        .Fcontent{
            font-size:12px ;
        }
    
}
@media only screen and (min-width: 0) and (max-width: 420px){
    html{
        font-size: 10px;
    }
}