#home{
    color: rgb(108, 187, 255);
}
#home::after {
    content: '';
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 1;
}
.content{

    display: flex; 
    padding: 0.5rem;
    justify-content: space-evenly;
    position: relative;
    height: 110vh;
    background-color: rgb(108, 187, 255);
}

.image img{
    height: 50rem;
    position: absolute;
    right: -5rem;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}
.image img:hover{
    right:-3rem;
    filter: brightness(105%);
}

.info .main-heading{
    font-size: 6rem;
    position: absolute;
    left: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 1.5rem;
    border-radius: 1rem;   
    color: blue;
} 
.info .main-heading:hover{
    /* background-color:rgb(108, 187, 255) ; */
    color: #fff;
}
.info .name .main-heading::after{
    content: '';
    height: 9px;
    width: 0;
    background-color: blue;
    display: block;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    
}
.info .main-heading:hover::after{
    width: 100%;
    opacity: 1;
}
.information{
    position: absolute;
    left: 5rem;
    top: 14rem;
    font-size: 1.3rem;
    width: 60%;
    color: black;
}
.information p{
    padding: 0.5rem 0;
}